* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Nav Section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: grey;
  margin: 0px 5px;
}

a:hover {
  text-decoration: underline;
}

.nav-left-side {
  letter-spacing: 1.5px;
  margin-left: 15px;
}

.nav-right-side {
  letter-spacing: 1.5px;
  margin-right: 15px;
}
.icon-menu {
  width: 25px;
  height: 25px;
}

.sign-in-btn {
  background-color: #4285f4;
  border-style: none;
  color: #fff;
  padding: 5px;
}

/* Main Section */
section {
  position: relative;
  width: 100%;
  height: 80vh;
}
.container {
  position: absolute;
  margin: 10% 40%;
  height: 400px;
  width: 25%;
  text-align: center;
}

.logo {
  margin: 30px auto;
}

.search-area {
  box-sizing: border-box;
  width: 600px;
  height: 44px;
  border: 1px solid lightgray;
  border-radius: 30px;
  margin: 10px 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
.search {
  font-size: 16px;
  height: 30px;
  width: 500px;
  border: none;
  position: relative;
  top: 6px;
}

.search:focus {
  outline: none;
}
.mag {
  position: absolute;
  top: 13px;
  left: 20px;
}

.mic {
  position: relative;
  top: 7px;
  right: -20px;
}

button {
  border-style: none;
  padding: 10px;
  margin: 15px 5px;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}

.main-link {
  text-decoration: underline;
  color: blue;
}

.main-link:hover {
  cursor: pointer;
}

/* Footer Section */

footer {
  background-color: #f2f2f2;
  width: 100%;
  line-height: 10px;
  position: fixed;
  bottom: 0;
}
footer a {
  margin: 25px;
}

.turkey {
  padding: 8px;
  border-bottom: 1px solid rgb(185, 184, 184);
  opacity: 0.5;
  margin-left: 20px;
}
.bottom-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
